<!-- <h2>{{title}}</h2> -->
<div class="frame">
    <div class="frame__board">
        <canvas id="play" width="992" height="650"></canvas>
    </div>
</div>
<div class="toolbar">
    <input id="color" value="#00aeff" type="color">
    <div class="toolbar__tool selection"> <i class="bi bi-bounding-box-circles"></i></div>
    <div class="toolbar__tool pencil"><i class="bi bi-pencil"></i></div>
    <div class="toolbar__tool upload"><i class=" bi bi-image"></i><input type="file" name="image" id="upload" multiple></div>
    <div class="toolbar__tool clear"><i class="bi bi-x-circle-fill"></i></div>
    <!-- <div class="toolbar__tool eraser"><i class="bi bi-file-earmark-x-fill"></i></div> -->
    <!-- <div class="toolbar__tool undo"> <i class="bi bi-eraser-fill"></i></div> -->
    <!-- <div class="toolbar__tool upload"><i class=" bi bi-file-image"></i></div> -->
    <!-- <div class="toolbar__tool upload"><i class="bi bi-cloud-arrow-up"></i></div> -->
</div>
