
:root {
  --theme-core: #eaeef0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--theme-core);
  font-size: 16*$rem;
  font-family: $font-poppins;
  @extend .flex;
}