
:root {
  --theme-core: hsl(200, 17%, 93%);
  --theme-primary: #000;
  --theme-secondary: hsl(198, 89%, 55%);
  // --theme-secondary: hsl(217, 89%, 60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--theme-core);
  font-size: 16*$rem;
  font-family: $font-poppins;
  min-height: 100vh;
}

a{
	text-decoration: none;
	transition: .2s;
  cursor: pointer;
}